body {
	background-image: url(../images/bw_crowd.jpg);
	background-attachment: fixed;
	color: fff;
	font-weight: normal;
}

.panel-primary{
	background-color: 000;
}

.panel-primary p {
	color: white;
}

.jumbotron{
	background-color: 000;
}

.panel-heading {
	font-size: 18px;
}

#index h1 {
	color: fff;
}

.eventListDiv p {
	color: 000;
	margin-top: 15px;
	padding-left: 15px;
}

.venueButton, #buttons {
	padding: 3px;
	margin: 5px;
	color: white;
	background-color: white;
	border-radius: 5px;
}

.venueButton, #buttons p {
	color: 000;
	font-size: 13px;
}

.eventContent {
	color: fff;
	font-size: 13px;
	font-weight: normal;
}

#tableContent {
	font-size: 13px;
	font-weight: normal;
}

#Gmap {
	margin-bottom: 15px;
	color: 000;
}

.eventRow:hover {
	color: 000;
}

.saveButton {
	color: 000;
	font-size: 12px;
	background-color: fff;
	border-radius: 5px;
	
}

.favoritRow:hover {
	color: 000;
}

.removeButton {
	color: 000;
	font-size: 11px;
	background-color: fff;
	border-radius: 5px;
	
}

.blackText {
	color: black;
}