body {
	background-color: ED6D24;
}
#index body {
	 background-color: ED6D24;
}
.panel-primary{
	background-color: ED6D24;
}
.jumbotron{
	background-color: 0A60BA;
}
p {
	color: ffffff;
}
#index h1 {
	color: ffffff;
}